<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda360</title>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/style.css">
    <style>
        .col-md-11{
                max-width: 89%;
                margin-right: 1%;
            }
            #dropdownButtonProcedimentos{
                width: 100%;
                text-align: start;
                background-color: #DEBDC6;
                border-radius: 10px;
                border: 3px solid #B7044A;
                color: #555;
                position: relative;
            }
            #dropdownButtonProcedimentos::after{
                position: absolute;
                right: 10px; /* Ajuste este valor conforme necessário */
                top: 17px;
                color: black;
                pointer-events: none; /* Garante que o ícone não interfira nos cliques do botão */


            }
            #dropdownButtonProcedimentosEditar{
                width: 100%;
                text-align: start;
                background-color: #DEBDC6;
                border-radius: 10px;
                border: 3px solid #B7044A;
                color: #555;
            }
            #dropdownButtonProcedimentosEditar::after{
                margin-left: 765px;
                color: black;
            }
            #dropdownMenuProcedimentos{
                width: 100%;
            }
            .item-procedimento{
                margin-left: 10px;
            }
            #seletor-procedimento{
                width: 100%;
                border-radius: 10px;
                border: #B7044A solid 3px;
                background-color: #DEBDC6;
            }
            #alert-container {
                position: fixed;
                top: 20px; /* Altere o valor conforme necessário para ajustar a distância do topo */
                left: 50%;
                transform: translateX(-50%);
                z-index: 1050; /* Valor de z-index alto para sobrepor outros elementos */
                width: auto;
                max-width: 90%; /* Limite a largura para evitar problemas em telas pequenas */

                border-radius: 10px;
            }

            /* Animação para a borda piscante */
            @keyframes border-blink {
                0% {
                    border: 3px solid black;
                }
                50% {
                    border: 3px solid transparent;
                }
                100% {
                    border: 3px solid black;
                }
            }

            .alert {
                margin: 0 auto; /* Centraliza o conteúdo do alerta */
                text-align: center;
                border-radius: 10px;
                background-color: whitesmoke;
                animation: border-blink 1s infinite; /* Animação de borda piscante */
            }

            #confirmacao-excluir-container {
                position: fixed;
                top: 20px; /* Altere o valor conforme necessário para ajustar a distância do topo */
                left: 50%;
                transform: translateX(-50%);
                z-index: 1050; /* Valor de z-index alto para sobrepor outros elementos */
                width: auto;
                max-width: 90%; /* Limite a largura para evitar problemas em telas pequenas */

                border-radius: 10px;
            }


    </style>
</head>

<body class="d-flex flex-column">
<div id="alert-container"></div>
<audio id="alert-sound" th:src="@{/sounds/alert-sound.mp3}" preload="auto"></audio>


<div th:if="${erro != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
    <span th:text="${erro}"></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div th:if="${idAgendamentoConfirmacao != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
    <span>Você realmente deseja excluir?</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div>
        <button onclick="confirmar()">Sim</button>
        <button>Não</button>
    </div>
</div>
<form id="form-excluir" action="/excluir-agendamento" method="POST" hidden>
    <input name="id" th:value="${idAgendamentoConfirmacao}">

</form>

<script th:if="${idAgendamentoConfirmacao != null}">
    var alertSound = document.getElementById("alert-sound");
            try {
                alertSound.play();
            } catch (error) {
                console.warn("Som de alerta bloqueado pelo navegador: ", error);
            }
</script>

<script>
    function confirmar(){
        var form = document.getElementById("form-excluir");
        form.submit();
    }
</script>




<div id="container-menu">
    <nav class="navbar navbar-expand-lg navbar-light  mx-auto">

        <a class="navbar-brand " th:href="@{/agendamentos-do-dia}">
            <img src="${imgLogo}" alt="logotipo do site" id="img-logo">
        </a>
        <!-- <button style="color: black;" class="navbar-toggler" type="button" data-toggle="collapse"
             data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
             <span class="navbar-toggler-icon"></span>
         </button>
         colocar a classe collapse e o navbar-collapse na div abaixo-->
        <div class="  " id="navbarNav">
            <ul class="navbar-nav d-flex justify-content-around">
                <li class="nav-item li-nav">
                    <a class="nav-link text-link text-dark" th:href="@{/cadastrar-cliente}">Clientes</a>
                </li>
                <li class="nav-item li-nav">
                    <a class="nav-link text-link text-dark" th:href="@{/cadastrar-procedimento}">Serviços</a>
                </li>
                <li class="nav-item li-nav">
                    <a class="nav-link text-link text-dark" th:href="@{/cadastrar-agendamento}">Agendamentos</a>
                </li>
                <li class="nav-item li-nav">
                    <a class="nav-link text-link text-dark" th:href="@{/gerenciamento-negocio}">Meu negócio</a>
                </li>
                <div class="dropdown">
                    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ph ph-user-check"></i>
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Configurações</a>
                        <a class="dropdown-item" href="#">Sair</a>
                    </div>
                </div>
            </ul>


        </div>
    </nav>

</div>

<div id="container-main">
    <div id="container-principal">
        <div class="mx-auto" id="container-conteudo">
            <h2 id="titulo">Cadastro de Agendamentos</h2>
            <form action="cadastrar-agendamento" method="post">
                <div class="input-group mb-3">

                    <select name="idCliente" class="form-control input-text custom-select" id="inputGroupSelect01">
                        <option value="0" selected>Escolher cliente</option>
                            <option th:each="cliente : ${clientes}" value="${cliente.id}" th:text="${cliente.nome}"></option>
                    </select>
                </div>

                <div class="input-group mb-3 form-group">
                    <button class="btn dropdown-toggle" type="button" id="dropdownButtonProcedimentos"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selecione os serviços
                    </button>

                    <div class="dropdown-menu" id="dropdownMenuProcedimentos" aria-labelledby="dropdownMenuButton">

                            <div th:name="idsProcedimentos" th:each="procedimento, stat : ${procedimentos}" class="item-procedimento">
                                <input type="checkbox" th:value="${procedimento.id}"
                                       th:name="'idProcedimento'+${stat.index}"
                                       th:id="'procedimento'+${stat.index}"
                                       th:data-name="${procedimento.nome}"
                                       class="procedimento-checkbox">
                                <label th:for="'procedimento'+${stat.index}" th:text="${procedimento.nome}"></label>
                            </div>

                    </div>
                </div>

                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        const dropdownButton = document.getElementById("dropdownButtonProcedimentos");
                        const checkboxes = document.querySelectorAll(".procedimento-checkbox");

                        // Função para atualizar o texto do botão com os serviços selecionados
                        function updateSelectedProcedures() {
                            const selectedProcedures = Array.from(checkboxes)
                                    .filter(checkbox => checkbox.checked)
                                    .map(checkbox => checkbox.getAttribute("data-name"));

                            dropdownButton.textContent = selectedProcedures.length > 0 ? selectedProcedures.join(" | ") : "Selecione os serviços";
                        }

                        // Adiciona evento para cada checkbox
                        checkboxes.forEach(checkbox => {
                            checkbox.addEventListener("change", updateSelectedProcedures);
                        });
                    });
                </script>


                <div class="form-group ">
                    <input name="data" type="date" class="form-control input-text" id="input-data" placeholder="Data">

                </div>
                <div class="form-group ">
                    <input name="hora" type="time" class="form-control input-text" id="input-hora" placeholder="Hora">

                </div>
                <button type="submit" class="btn-cadastro">Cadastrar</button>
            </form>


        </div>
        <div class="">


            <div class="row justify-content-end" id="conteudo-tabela">
                <div class="col-md-11">


                    <div id="table-head" class="d-flex justify-content-around">
                        <div class="container-thitem">
                                    <span class="th-item">
                                        Cliente
                                    </span>
                        </div>
                        <div class="container-thitem">
                                    <span class="th-item">
                                        Serviços

                                    </span>
                        </div>
                        <div class="container-thitem">
                                    <span class="th-item">
                                        Data
                                    </span>
                        </div>
                        <div class="container-thitem">
                                    <span class="th-item">
                                        Horário
                                    </span>
                        </div>
                        <div class="icon" id="icon-filter">

                            <button id="btn-filtro" data-toggle="modal" data-target="#modalFiltrar">
                                <i class="ph ph-sliders-horizontal"></i>
                            </button>

                        </div>
                    </div>
                    <!-- Modal filtrar -->
                    <div class="modal fade" id="modalFiltrar" tabindex="-1" role="dialog"
                         aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="TituloModalCentralizado">Filtrar</h5>
                                    <button id="btn-close-modal"  type="button"  data-dismiss="modal" aria-label="Fechar">
                                        <span id="x-close" aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="filtrar-agendamento" method="GET">

                                        <input id="input-filtrar" class="form-control mb-3" type="text" placeholder="Digite o nome do cliente" name="cliente">
                                        <input type="date" class="form-control mb-3" placeholder="Selecione a data desejada" name="data">

                                        <div class="modal-footer d-flex justify-content-center">

                                            <button id="btn-filtrar" type="submit" class="btn">Filtrar pelo
                                                nome</button>
                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- modal erro-->
                    <div th:if="${erro}" class="modal" id="modalErro" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Erro</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p th:text="${erro}"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>



                    </div>




                    <table class="table">

                        <tbody>

                        <tr th:each="agendamento : ${agendamentos}">
                            <td class="td-table" th:text="${agendamento.cliente.nome}">

                            </td>
                            <td class="td-table">
                                <ul>

                                    <li th:each="procedimento : ${procedimentos}" th:text="${procedimento.nome}"> </li>

                                </ul>

                            </td>
                            <td class="td-table" th:text="${agendamento.data}">

                            </td>
                            <td class="td-table" th:text="${agendamento.hora}">

                            </td>
                            <td id="tb-funcoes">
                                <a th:href="@{'/editar-agendamento?id=' + ${agendamento.id}}"><i class="ph ph-pencil"></i></a> <!-- ao clicar neste botão, o id chegará no método doGet (EditarProcedimento) -->
                                <a th:href="@{'/excluir-agendamento?id=' + ${agendamento.id}}"><i class="ph ph-trash"></i></a>

                            </td>
                        </tr>

                        </tbody>
                    </table>

                    <script th:if="${agendamento != null}">
                        document.addEventListener("DOMContentLoaded", function () {
                            var modal = new bootstrap.Modal(document.getElementById('modalEditarCliente'));
                            modal.show();


                        });


                    </script>

                    <!-- modal editar -->
                    <div th:if="${agendamento != null}" class="modal fade" id="modalEditarAgendamento" tabindex="-1" role="dialog"
                         aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="TituloModalCentralizado">Editar</h5>


                                </div>
                                <div class="modal-body">
                                    <form action="editar-agendamento" method="post">

                                        <div class="input-group mb-3">

                                            <select name="idCliente" class="form-control input-text custom-select" id="inputGroupSelect01">
                                                <option value="0" selected>Escolher cliente</option>
                                                <option th:each="cliente : ${clientes}" value="${cliente.id}" th:text="${cliente.nome}"></option>
                                            </select>
                                        </div>

                                        <div class="input-group mb-3 form-group">
                                            <button class="btn dropdown-toggle" type="button" id="dropdownButtonProcedimentos"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Selecione os serviços
                                            </button>

                                            <div class="dropdown-menu" id="dropdownMenuProcedimentos" aria-labelledby="dropdownMenuButton">

                                                <div th:each="procedimento, stat : ${procedimentos}" class="item-procedimento">
                                                    <input type="checkbox" th:value="${procedimento.id}"
                                                           th:name="'idProcedimento'+${stat.index}"
                                                           th:id="'procedimento'+${stat.index}"
                                                           th:data-name="${procedimento.nome}"
                                                           class="procedimento-checkbox">
                                                    <label th:for="'procedimento'+${stat.index}" th:text="${procedimento.nome}"></label>
                                                </div>

                                            </div>
                                        </div>

                                        <script>
                                            document.addEventListener("DOMContentLoaded", function () {
                                                const dropdownButton = document.getElementById("dropdownButtonProcedimentos");
                                                const checkboxes = document.querySelectorAll(".procedimento-checkbox");

                                                // Função para atualizar o texto do botão com os serviços selecionados
                                                function updateSelectedProcedures() {
                                                    const selectedProcedures = Array.from(checkboxes)
                                                            .filter(checkbox => checkbox.checked)
                                                            .map(checkbox => checkbox.getAttribute("data-name"));

                                                    dropdownButton.textContent = selectedProcedures.length > 0 ? selectedProcedures.join(" | ") : "Selecione os serviços";
                                                }

                                                // Adiciona evento para cada checkbox
                                                checkboxes.forEach(checkbox => {
                                                    checkbox.addEventListener("change", updateSelectedProcedures);
                                                });
                                            });
                                        </script>


                                        <div class="form-group ">
                                            <input name="data" type="date" class="form-control input-text" id="input-data" placeholder="Data">

                                        </div>
                                        <div class="form-group ">
                                            <input name="hora" type="time" class="form-control input-text" id="input-hora" placeholder="Hora">

                                        </div>

                                        <input type="submit" class="btn-cadastro" value="Editar/Fechar">
                                    </form>



                                </div>

                            </div>
                        </div>
                    </div>

                    <script th:if="${agendamento != null}">
                        document.addEventListener("DOMContentLoaded", function () {
                            var modal = new bootstrap.Modal(document.getElementById('modalEditarAgendamento'));
                            modal.show();

                            document.getElementById("btn-close-modal").addEventListener("click", function() {
                                window.location.href = "/cadastrar-agendamento";
                            });

                            modal._element.addEventListener("hidden.bs.modal", function () {
                                window.location.href = "/cadastrar-agendamento";
                            });
                        });


                    </script>

                </div>

            </div>
        </div>
    </div>
</div>
<div id="footer" class="fixed-bottom text-center py-3">
    <span class=" mx-auto">www.agenda360.pt</span>
</div>

</body>

</html>